/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */
.logo-right-sided{
  position: fixed;
  right: 0;
  top: 35%;
  z-index: 100;
}
.logo-right-sided.desktop{
  font-size:10rem;
  font-family: 'Apercu-Bold';
}
h1{
  margin: 0;
  line-height: auto;
}
@media screen and (max-width: 768px) {
  .logo-right-sided.desktop {
      font-size: 6rem;
      font-family: 'Apercu-Bold';
    }
  
}